<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>社群媒體評論研究</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- SimpleLightbox plugin CSS-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <header class="masthead h-75">
      <div class="container px-4 px-lg-5 h-100 mb-0">
        <div
          class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
        >
          <div class="col-lg-11 align-self-end">
            <h4 class="text-black font-weight-bold">問卷調查流程說明</h4>
            <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline px-1">
            <p class="text-black-50">
              接下來您會看到5篇Facebook的網路評論，此5篇評論來自您剛剛填寫的5位 Facebook 好友，請您仔細閱讀，並依您觀看後的想法填寫問卷：<br/>
            </p>
          </div>
    </header>
    <!-- guide-->
    <section>
      <form action="mainform" id="MainForm" method="post">
        <div class=" px-4 px-lg-5 h-auto my-4">
          <div class="my-4 row gx-4 gx-lg-5 h-auto align-items-center justify-content-center text-center">
            <h4 class="col-lg-7 text-start ps-0">評論一：由<%= friendname1  %>撰寫</h4>
              <!--評論一-->
              <div class="col-lg-7 align-self-baseline pt-2 px-2 mb-4" style="border: 1px lightgray solid;">
                <!--貼文最上面那坨-->
                <div  style="display:flex;flex-direction: row;">
                  <div class="align-items-center justify-content-center ">
                    <i class="material-symbols-outlined fs-0 me-3" style="color: gray;">
                    account_circle
                    </i>
                  </div>
                  <div>
                    <h5 class="text-black font-weight-bold mb-1 mt-1"><%= friendname1  %></h5>
                    <div class="align-self-baseline " style="display:flex;flex-direction: row;">
                    <p class="text-black-50 fs-7 text-start">18 小時</p>
                    <span class="material-symbols-outlined fs-6 ms-1">
                    public
                    </span>
                    </div>
                  </div>
                  <span class="material-symbols-outlined fs-3 ms-auto">
                  more_horiz
                  </span>
                  <span class="material-symbols-outlined fs-3 ms-2">
                    close
                  </span>
                </div>
              <!--貼文最上面那坨結束，以下是貼文內容-->
              <div class= "align-self-baseline">
                <p class="text-black-50 mb-3 text-start px-3 fs-6  ">
                  這篇是合作文！<br>
                  我每年至少要滑一次雪！<br> 
                  三個月前就預訂好的首發滑雪團「GRANDECO溫泉滑雪團」！<br>
                  五天四夜大滑三個不同滑雪場，<br>
                  連住的飯店都是 Ski in Out 出門就是滑雪場，裝備穿好直接上場！  
                </p>
              </div>
              <div style="display:flex;flex-direction: row;" class="border-bottom mx-3 mb-2">
                <span class="material-symbols-outlined fs-6 " style="color: darkblue;">
                  thumb_up
                  </span>
                  <p class="text-black-50 fs-7 text-start ms-2">30</p>
              </div>
              <div style="display:flex;flex-direction: row;" class="justify-content-around mx-3">
                <div style="display:flex;flex-direction: row;">
                  <span class="material-symbols-outlined fs-5 ">
                    thumb_up
                  </span>
                  <p class="text-black-50 fs-6 text-start ms-2">讚</p>
                </div>
                <div style="display:flex;flex-direction: row;">
                  <span class="material-symbols-outlined fs-5 ">
                      mode_comment
                      </span>
                    </span>
                    <p class="text-black-50 fs-6 text-start ms-2">留言</p>
                </div>
                <div style="display:flex;flex-direction: row;">
                  <span class="material-symbols-outlined fs-5 ">
                      send
                      </span>
                    </span>
                    <p class="text-black-50 fs-6 text-start ms-2">分享</p>
                </div>
              </div>
            </div>
            <!--評論一結束-->
            <div class="px-4 px-lg-5 h-auto">
              <div class="row gx-4 gx-lg-5align-items-center justify-content-center text-center"
            >
                <div  class="col-lg-8 align-self-baseline text-start">
                    <div class="mb-6">
                      <!-- <p>1分-非常不熟 7分-非常熟識</p> -->
                      <h4 class="mb-4">請問您是否同意以下陳述</h4>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="MotExt1">1. 此篇評論的撰寫者寫這篇評論的目的是為了獲得店家給的獎勵</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                     
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不同意</th>
                            <th style="width: 11%; text-align: center;">很不同意</th>
                            <th style="width: 11%; text-align: center;">不同意</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">同意</th>
                            <th style="width: 11%; text-align: center;">很同意</th>
                            <th style="width: 11%; text-align: center;">非常同意</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotExt1" value="1">&nbsp;1</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotExt1" value="2">&nbsp;2</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotExt1" value="3">&nbsp;3</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotExt1" value="4">&nbsp;4</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotExt1" value="5">&nbsp;5</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotExt1" value="6">&nbsp;6</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotExt1" value="7">&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="MotInt1">2. 此篇評論的撰寫者寫這篇評論的目的是他發自內心想要分享</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不同意</th>
                            <th style="width: 11%; text-align: center;">很不同意</th>
                            <th style="width: 11%; text-align: center;">不同意</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">同意</th>
                            <th style="width: 11%; text-align: center;">很同意</th>
                            <th style="width: 11%; text-align: center;">非常同意</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotInt1" value="1">&nbsp;1</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotInt1" value="2">&nbsp;2</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotInt1" value="3">&nbsp;3</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotInt1" value="4">&nbsp;4</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotInt1" value="5">&nbsp;5</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotInt1" value="6">&nbsp;6</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotInt1" value="7">&nbsp;7</td>
                        </tr>
                      </table class="mb-4">
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="Tran1">3. 此篇評論的撰寫者有清楚的告訴你他為什麼要寫這篇評論</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不同意</th>
                            <th style="width: 11%; text-align: center;">很不同意</th>
                            <th style="width: 11%; text-align: center;">不同意</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">同意</th>
                            <th style="width: 11%; text-align: center;">很同意</th>
                            <th style="width: 11%; text-align: center;">非常同意</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input required type="radio" name="Tran1" value="1">&nbsp;1</td>
                            <td style=" text-align: center;"><input required type="radio" name="Tran1" value="2">&nbsp;2</td>
                            <td style=" text-align: center;"><input required type="radio" name="Tran1" value="3">&nbsp;3</td>
                            <td style=" text-align: center;"><input required type="radio" name="Tran1" value="4">&nbsp;4</td>
                            <td style=" text-align: center;"><input required type="radio" name="Tran1" value="5">&nbsp;5</td>
                            <td style=" text-align: center;"><input required type="radio" name="Tran1" value="6">&nbsp;6</td>
                            <td style=" text-align: center;"><input required type="radio" name="Tran1" value="7">&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="Qua1">4. 請問您認為此篇評論的品質為何？</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                          <th style="width: 23%;" ></th>
                          <th style="width: 11%; text-align: center;">&emsp;非常不好</th>
                          <th style="width: 11%; text-align: center;">&emsp;很不好</th>
                          <th style="width: 11%; text-align: center;">&emsp;不好</th>
                          <th style="width: 11%; text-align: center;">&emsp;普通</th>
                          <th style="width: 11%; text-align: center;">&emsp;好</th>
                          <th style="width: 11%; text-align: center;">&emsp;很好</th>
                          <th style="width: 11%; text-align: center;">&emsp;非常好</th>
                      </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input required type="radio" name="Qua1" value="1">&nbsp;1</td>
                            <td style=" text-align: center;"><input required type="radio" name="Qua1" value="2">&nbsp;2</td>
                            <td style=" text-align: center;"><input required type="radio" name="Qua1" value="3">&nbsp;3</td>
                            <td style=" text-align: center;"><input required type="radio" name="Qua1" value="4">&nbsp;4</td>
                            <td style=" text-align: center;"><input required type="radio" name="Qua1" value="5">&nbsp;5</td>
                            <td style=" text-align: center;"><input required type="radio" name="Qua1" value="6">&nbsp;6</td>
                            <td style=" text-align: center;"><input required type="radio" name="Qua1" value="7">&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="Cre1">5. 請問您認為此篇評論的撰寫者有多值得信賴？</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table>
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不值得</th>
                            <th style="width: 11%; text-align: center;">很不值得</th>
                            <th style="width: 11%; text-align: center;">不值得</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">值得</th>
                            <th style="width: 11%; text-align: center;">很值得</th>
                            <th style="width: 11%; text-align: center;">非常值得</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input required type="radio" name="Cre1" value="1">&nbsp;1</td>
                            <td style=" text-align: center;"><input required type="radio" name="Cre1" value="2">&nbsp;2</td>
                            <td style=" text-align: center;"><input required type="radio" name="Cre1" value="3">&nbsp;3</td>
                            <td style=" text-align: center;"><input required type="radio" name="Cre1" value="4">&nbsp;4</td>
                            <td style=" text-align: center;"><input required type="radio" name="Cre1" value="5">&nbsp;5</td>
                            <td style=" text-align: center;"><input required type="radio" name="Cre1" value="6">&nbsp;6</td>
                            <td style=" text-align: center;"><input required type="radio" name="Cre1" value="7">&nbsp;7</td>
                        </tr>
                      </table>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>     
        </div>
        <!-- <div>
          <br>
        </div> -->
        <div class=" px-4 px-lg-5 h-auto my-4 ">
          <div class="row gx-4 gx-lg-5 h-auto align-items-center justify-content-center text-center">
            <h4 class="col-lg-7 text-start ps-0">評論二：由<%= friendname2  %>撰寫</h4>
              <!--評論一-->
              <div class="col-lg-7 align-self-baseline pt-2 px-2 mb-4" style="border: 1px lightgray solid;">
                <!--貼文最上面那坨-->
                <div  style="display:flex;flex-direction: row;">
                  <div class="align-items-center justify-content-center ">
                    <i class="material-symbols-outlined fs-0 me-3" style="color: gray;">
                    account_circle
                    </i>
                  </div>
                  <div>
                    <h5 class="text-black font-weight-bold mb-1 mt-1"><%= friendname2 %></h5>
                    <div class="align-self-baseline " style="display:flex;flex-direction: row;">
                    <p class="text-black-50 fs-7 text-start">18 小時</p>
                    <span class="material-symbols-outlined fs-6 ms-1">
                    public
                    </span>
                    </div>
                  </div>
                  <span class="material-symbols-outlined fs-3 ms-auto">
                  more_horiz
                  </span>
                  <span class="material-symbols-outlined fs-3 ms-2">
                    close
                  </span>
                </div>
              <!--貼文最上面那坨結束，以下是貼文內容-->
              <div class= "align-self-baseline">
                <p class="text-black-50 mb-3 text-start px-3 fs-6  ">
                  試吃後老闆說打卡完可以再換一顆剝皮辣椒鮮肉包！<br>
                  水水灶咖嚴選無味精防腐劑的剝皮辣椒，<br>
                  搭配台灣豬腿肉、高麗菜、洋蔥、薑等食材<br>
                  微波好吃，用電鍋蒸更棒<br>
                  推薦喜歡剝皮辣椒的大家試試看！ 
                </p>
              </div>
              <div style="display:flex;flex-direction: row;" class="border-bottom mx-3 mb-2">
                <span class="material-symbols-outlined fs-6 " style="color: darkblue;">
                  thumb_up
                  </span>
                  <p class="text-black-50 fs-7 text-start ms-2">30</p>
              </div>
              <div style="display:flex;flex-direction: row;" class="justify-content-around mx-3">
                <div style="display:flex;flex-direction: row;">
                  <span class="material-symbols-outlined fs-5 ">
                    thumb_up
                  </span>
                  <p class="text-black-50 fs-6 text-start ms-2">讚</p>
                </div>
                <div style="display:flex;flex-direction: row;">
                  <span class="material-symbols-outlined fs-5 ">
                      mode_comment
                      </span>
                    </span>
                    <p class="text-black-50 fs-6 text-start ms-2">留言</p>
                </div>
                <div style="display:flex;flex-direction: row;">
                  <span class="material-symbols-outlined fs-5 ">
                      send
                      </span>
                    </span>
                    <p class="text-black-50 fs-6 text-start ms-2">分享</p>
                </div>
              </div>
            </div>
            <!--評論二結束-->
            <div class=" px-4 px-lg-5 h-100">
              <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
            >
                <div  class="col-lg-8 align-self-baseline text-start">
                    <div class="mb-6">
                      <!-- <p>1分-非常不熟 7分-非常熟識</p> -->
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="MotExt2">1. 此篇評論的撰寫者寫這篇評論的目的是為了獲得店家給的獎勵</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不同意</th>
                            <th style="width: 11%; text-align: center;">很不同意</th>
                            <th style="width: 11%; text-align: center;">不同意</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">同意</th>
                            <th style="width: 11%; text-align: center;">很同意</th>
                            <th style="width: 11%; text-align: center;">非常同意</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotExt2" value="1">&nbsp;1</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotExt2" value="2">&nbsp;2</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotExt2" value="3">&nbsp;3</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotExt2" value="4">&nbsp;4</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotExt2" value="5">&nbsp;5</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotExt2" value="6">&nbsp;6</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotExt2" value="7">&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="MotInt2">2. 此篇評論的撰寫者寫這篇評論的目的是他發自內心想要分享</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不同意</th>
                            <th style="width: 11%; text-align: center;">很不同意</th>
                            <th style="width: 11%; text-align: center;">不同意</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">同意</th>
                            <th style="width: 11%; text-align: center;">很同意</th>
                            <th style="width: 11%; text-align: center;">非常同意</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotInt2" value="1">&nbsp;1</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotInt2" value="2">&nbsp;2</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotInt2" value="3">&nbsp;3</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotInt2" value="4">&nbsp;4</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotInt2" value="5">&nbsp;5</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotInt2" value="6">&nbsp;6</td>
                            <td style=" text-align: center;"><input required type="radio" name="MotInt2" value="7">&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="Tran2">3. 此篇評論的撰寫者有清楚的告訴你他為什麼要寫這篇評論</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不同意</th>
                            <th style="width: 11%; text-align: center;">很不同意</th>
                            <th style="width: 11%; text-align: center;">不同意</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">同意</th>
                            <th style="width: 11%; text-align: center;">很同意</th>
                            <th style="width: 11%; text-align: center;">非常同意</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input required type="radio" name="Tran2" value="1">&nbsp;1</td>
                            <td style=" text-align: center;"><input required type="radio" name="Tran2" value="2">&nbsp;2</td>
                            <td style=" text-align: center;"><input required type="radio" name="Tran2" value="3">&nbsp;3</td>
                            <td style=" text-align: center;"><input required type="radio" name="Tran2" value="4">&nbsp;4</td>
                            <td style=" text-align: center;"><input required type="radio" name="Tran2" value="5">&nbsp;5</td>
                            <td style=" text-align: center;"><input required type="radio" name="Tran2" value="6">&nbsp;6</td>
                            <td style=" text-align: center;"><input required type="radio" name="Tran2" value="7">&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="Qua2">4. 請問您認為此篇評論的品質為何？</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                          <th style="width: 23%;" ></th>
                          <th style="width: 11%; text-align: center;">&emsp;非常不好</th>
                          <th style="width: 11%; text-align: center;">&emsp;很不好</th>
                          <th style="width: 11%; text-align: center;">&emsp;不好</th>
                          <th style="width: 11%; text-align: center;">&emsp;普通</th>
                          <th style="width: 11%; text-align: center;">&emsp;好</th>
                          <th style="width: 11%; text-align: center;">&emsp;很好</th>
                          <th style="width: 11%; text-align: center;">&emsp;非常好</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua2" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua2" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua2" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua2" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua2" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua2" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua2" value="7" required>&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="Cre2">5. 請問您認為此篇評論的撰寫者有多值得信賴？</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不值得</th>
                            <th style="width: 11%; text-align: center;">很不值得</th>
                            <th style="width: 11%; text-align: center;">不值得</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">值得</th>
                            <th style="width: 11%; text-align: center;">很值得</th>
                            <th style="width: 11%; text-align: center;">非常值得</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre2" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre2" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre2" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre2" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre2" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre2" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre2" value="7" required>&nbsp;7</td>
                        </tr>
                      </table>
                    </div>
                </div>
              </div>
            </div>
          </div>     
        </div>
        <div class="px-4 px-lg-5 h-auto my-4 ">
          <div class="row gx-4 gx-lg-5 h-auto align-items-center justify-content-center text-center">
            <h4 class="col-lg-7 text-start ps-0">評論三：由<%= friendname3  %>撰寫</h4>
              <!--評論三-->
              <div class="col-lg-7 align-self-baseline pt-2 px-2 mb-4" style="border: 1px lightgray solid;">
                <!--貼文最上面那坨-->
                <div  style="display:flex;flex-direction: row;">
                  <div class="align-items-center justify-content-center ">
                    <i class="material-symbols-outlined fs-0 me-3" style="color: gray;">
                    account_circle
                    </i>
                  </div>
                  <div>
                    <h5 class="text-black font-weight-bold mb-1 mt-1"><%= friendname3 %></h5>
                    <div class="align-self-baseline " style="display:flex;flex-direction: row;">
                    <p class="text-black-50 fs-7 text-start">18 小時</p>
                    <span class="material-symbols-outlined fs-6 ms-1">
                    public
                    </span>
                    </div>
                  </div>
                  <span class="material-symbols-outlined fs-3 ms-auto">
                  more_horiz
                  </span>
                  <span class="material-symbols-outlined fs-3 ms-2">
                    close
                  </span>
                </div>
              <!--貼文最上面那坨結束，以下是貼文內容-->
              <div class= "align-self-baseline">
                <p class="text-black-50 mb-3 text-start px-3 fs-6  ">
                  來寫一下評論換免費烏魚子試吃！<br>
                  漁事所的整片炭烤烏魚子，煎到微溫最讚！<br>
                  由師傅炭烤增加香氣製作而成，厚切高達1.5公分，<br>
                  非一般市面油炸煎煮，更加健康並鎖住鮮味！<br>
                  完全不死鹹也沒有臭腥味，些微黏牙的口感讓人欲罷不能！  
                </p>
              </div>
              <div style="display:flex;flex-direction: row;" class="border-bottom mx-3 mb-2">
                <span class="material-symbols-outlined fs-6 " style="color: darkblue;">
                  thumb_up
                  </span>
                  <p class="text-black-50 fs-7 text-start ms-2">30</p>
              </div>
              <div style="display:flex;flex-direction: row;" class="justify-content-around mx-3">
                <div style="display:flex;flex-direction: row;">
                  <span class="material-symbols-outlined fs-5 ">
                    thumb_up
                  </span>
                  <p class="text-black-50 fs-6 text-start ms-2">讚</p>
                </div>
                <div style="display:flex;flex-direction: row;">
                  <span class="material-symbols-outlined fs-5 ">
                      mode_comment
                      </span>
                    </span>
                    <p class="text-black-50 fs-6 text-start ms-2">留言</p>
                </div>
                <div style="display:flex;flex-direction: row;">
                  <span class="material-symbols-outlined fs-5 ">
                      send
                      </span>
                    </span>
                    <p class="text-black-50 fs-6 text-start ms-2">分享</p>
                </div>
              </div>
            </div>
            <!--評論三結束-->
            <div class="container px-4 px-lg-5 h-100">
              <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
            >
                <div  class="col-lg-8 align-self-baseline text-start">
                    <div class="mb-6">
                      <!-- <p>1分-非常不熟 7分-非常熟識</p> -->
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="MotExt3">1. 此篇評論的撰寫者寫這篇評論的目的是為了獲得店家給的獎勵</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不同意</th>
                            <th style="width: 11%; text-align: center;">很不同意</th>
                            <th style="width: 11%; text-align: center;">不同意</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">同意</th>
                            <th style="width: 11%; text-align: center;">很同意</th>
                            <th style="width: 11%; text-align: center;">非常同意</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt3" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt3" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt3" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt3" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt3" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt3" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt3" value="7" required>&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="MotInt3">2. 此篇評論的撰寫者寫這篇評論的目的是他發自內心想要分享</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不同意</th>
                            <th style="width: 11%; text-align: center;">很不同意</th>
                            <th style="width: 11%; text-align: center;">不同意</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">同意</th>
                            <th style="width: 11%; text-align: center;">很同意</th>
                            <th style="width: 11%; text-align: center;">非常同意</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt3" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt3" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt3" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt3" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt3" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt3" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt3" value="7" required>&nbsp;7</td>
                        </tr>
                      </table class="mb-4">
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="Tran3">3. 此篇評論的撰寫者有清楚的告訴你他為什麼要寫這篇評論</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不同意</th>
                            <th style="width: 11%; text-align: center;">很不同意</th>
                            <th style="width: 11%; text-align: center;">不同意</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">同意</th>
                            <th style="width: 11%; text-align: center;">很同意</th>
                            <th style="width: 11%; text-align: center;">非常同意</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran3" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran3" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran3" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran3" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran3" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran3" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran3" value="7" required>&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="Qua3">4. 請問您認為此篇評論的品質為何？</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                          <th style="width: 23%;" ></th>
                          <th style="width: 11%; text-align: center;">&emsp;非常不好</th>
                          <th style="width: 11%; text-align: center;">&emsp;很不好</th>
                          <th style="width: 11%; text-align: center;">&emsp;不好</th>
                          <th style="width: 11%; text-align: center;">&emsp;普通</th>
                          <th style="width: 11%; text-align: center;">&emsp;好</th>
                          <th style="width: 11%; text-align: center;">&emsp;很好</th>
                          <th style="width: 11%; text-align: center;">&emsp;非常好</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua3" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua3" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua3" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua3" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua3" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua3" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua3" value="7" required>&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="Cre3">5. 請問您認為此篇評論的撰寫者有多值得信賴？</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不值得</th>
                            <th style="width: 11%; text-align: center;">很不值得</th>
                            <th style="width: 11%; text-align: center;">不值得</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">值得</th>
                            <th style="width: 11%; text-align: center;">很值得</th>
                            <th style="width: 11%; text-align: center;">非常值得</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre3" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre3" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre3" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre3" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre3" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre3" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre3" value="7" required>&nbsp;7</td>
                        </tr>
                      </table>
                    </div>
                </div>
              </div>
            </div>
          </div>     
        </div>
        <div class="px-4 px-lg-5 h-auto my-4 ">
          <div class="row gx-4 gx-lg-5 h-auto align-items-center justify-content-center text-center">
            <h4 class="col-lg-7 text-start ps-0">評論四：由<%= friendname4  %>撰寫</h4>
              <!--評論四-->
              <div class="col-lg-7 align-self-baseline pt-2 px-2 mb-4" style="border: 1px lightgray solid;">
                <!--貼文最上面那坨-->
                <div  style="display:flex;flex-direction: row;">
                  <div class="align-items-center justify-content-center ">
                    <i class="material-symbols-outlined fs-0 me-3" style="color: gray;">
                    account_circle
                    </i>
                  </div>
                  <div>
                    <h5 class="text-black font-weight-bold mb-1 mt-1"><%= friendname4 %></h5>
                    <div class="align-self-baseline " style="display:flex;flex-direction: row;">
                    <p class="text-black-50 fs-7 text-start">18 小時</p>
                    <span class="material-symbols-outlined fs-6 ms-1">
                    public
                    </span>
                    </div>
                  </div>
                  <span class="material-symbols-outlined fs-3 ms-auto">
                  more_horiz
                  </span>
                  <span class="material-symbols-outlined fs-3 ms-2">
                    close
                  </span>
                </div>
              <!--貼文最上面那坨結束，以下是貼文內容-->
              <div class= "align-self-baseline">
                <p class="text-black-50 mb-3 text-start px-3 fs-6  ">
                  為了換電影海報來分享音樂會資訊！<br>
                  《蜘蛛人：新宇宙》動畫交響音樂會所打造的獨有現場體驗，<br>
                  並邀請到David Mahoney本人親自來台擔任指揮，<br>
                  讓電影中最精彩的嘻哈與電子元素能夠用交響樂的形式呈現。 
                </p>
              </div>
              <div style="display:flex;flex-direction: row;" class="border-bottom mx-3 mb-2">
                <span class="material-symbols-outlined fs-6 " style="color: darkblue;">
                  thumb_up
                  </span>
                  <p class="text-black-50 fs-7 text-start ms-2">30</p>
              </div>
              <div style="display:flex;flex-direction: row;" class="justify-content-around mx-3">
                <div style="display:flex;flex-direction: row;">
                  <span class="material-symbols-outlined fs-5 ">
                    thumb_up
                  </span>
                  <p class="text-black-50 fs-6 text-start ms-2">讚</p>
                </div>
                <div style="display:flex;flex-direction: row;">
                  <span class="material-symbols-outlined fs-5 ">
                      mode_comment
                      </span>
                    </span>
                    <p class="text-black-50 fs-6 text-start ms-2">留言</p>
                </div>
                <div style="display:flex;flex-direction: row;">
                  <span class="material-symbols-outlined fs-5 ">
                      send
                      </span>
                    </span>
                    <p class="text-black-50 fs-6 text-start ms-2">分享</p>
                </div>
              </div>
            </div>
            <!--評論四結束-->
            <div class="container px-4 px-lg-5 h-100">
              <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
            >
                <div  class="col-lg-8 align-self-baseline text-start">
                    <div class="mb-6">
                      <!-- <p>1分-非常不熟 7分-非常熟識</p> -->
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="MotExt4">1. 此篇評論的撰寫者寫這篇評論的目的是為了獲得店家給的獎勵</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不同意</th>
                            <th style="width: 11%; text-align: center;">很不同意</th>
                            <th style="width: 11%; text-align: center;">不同意</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">同意</th>
                            <th style="width: 11%; text-align: center;">很同意</th>
                            <th style="width: 11%; text-align: center;">非常同意</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt4" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt4" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt4" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt4" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt4" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt4" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt4" value="7" required>&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="MotInt4">2. 此篇評論的撰寫者寫這篇評論的目的是他發自內心想要分享</label>
                      
                        <p style="color: brown;">*</p><br>
                      </div>
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不同意</th>
                            <th style="width: 11%; text-align: center;">很不同意</th>
                            <th style="width: 11%; text-align: center;">不同意</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">同意</th>
                            <th style="width: 11%; text-align: center;">很同意</th>
                            <th style="width: 11%; text-align: center;">非常同意</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt4" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt4" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt4" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt4" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt4" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt4" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt4" value="7" required>&nbsp;7</td>
                        </tr>
                      </table class="mb-4">
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="Tran4">3. 此篇評論的撰寫者有清楚的告訴你他為什麼要寫這篇評論</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不同意</th>
                            <th style="width: 11%; text-align: center;">很不同意</th>
                            <th style="width: 11%; text-align: center;">不同意</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">同意</th>
                            <th style="width: 11%; text-align: center;">很同意</th>
                            <th style="width: 11%; text-align: center;">非常同意</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran4" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran4" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran4" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran4" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran4" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran4" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran4" value="7" required>&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="Qua4">4. 請問您認為此篇評論的品質為何？</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                          <th style="width: 23%;" ></th>
                          <th style="width: 11%; text-align: center;">&emsp;非常不好</th>
                          <th style="width: 11%; text-align: center;">&emsp;很不好</th>
                          <th style="width: 11%; text-align: center;">&emsp;不好</th>
                          <th style="width: 11%; text-align: center;">&emsp;普通</th>
                          <th style="width: 11%; text-align: center;">&emsp;好</th>
                          <th style="width: 11%; text-align: center;">&emsp;很好</th>
                          <th style="width: 11%; text-align: center;">&emsp;非常好</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua4" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua4" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua4" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua4" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua4" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua4" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua4" value="7" required>&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="Cre4">5. 請問您認為此篇評論的撰寫者有多值得信賴？</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不值得</th>
                            <th style="width: 11%; text-align: center;">很不值得</th>
                            <th style="width: 11%; text-align: center;">不值得</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">值得</th>
                            <th style="width: 11%; text-align: center;">很值得</th>
                            <th style="width: 11%; text-align: center;">非常值得</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre4" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre4" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre4" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre4" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre4" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre4" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre4" value="7" required>&nbsp;7</td>
                        </tr>
                      </table>
                    </div>
                </div>
              </div>
            </div>
          </div>     
        </div>
        <div class="px-4 px-lg-5 h-auto my-4 ">
          <div class="row gx-4 gx-lg-5 h-auto align-items-center justify-content-center text-center">
            <h4 class="col-lg-7 text-start ps-0">評論五：由<%= friendname5  %>撰寫</h4>
              <!--評論五-->
              <div class="col-lg-7 align-self-baseline pt-2 px-2 mb-4" style="border: 1px lightgray solid;">
                <!--貼文最上面那坨-->
                <div  style="display:flex;flex-direction: row;">
                  <div class="align-items-center justify-content-center ">
                    <i class="material-symbols-outlined fs-0 me-3" style="color: gray;">
                    account_circle
                    </i>
                  </div>
                  <div>
                    <h5 class="text-black font-weight-bold mb-1 mt-1"><%= friendname5 %></h5>
                    <div class="align-self-baseline " style="display:flex;flex-direction: row;">
                    <p class="text-black-50 fs-7 text-start">18 小時</p>
                    <span class="material-symbols-outlined fs-6 ms-1">
                    public
                    </span>
                    </div>
                  </div>
                  <span class="material-symbols-outlined fs-3 ms-auto">
                  more_horiz
                  </span>
                  <span class="material-symbols-outlined fs-3 ms-2">
                    close
                  </span>
                </div>
              <!--貼文最上面那坨結束，以下是貼文內容-->
              <div class= "align-self-baseline">
                <p class="text-black-50 mb-3 text-start px-3 fs-6  ">
                  看電影打卡換爆米花<br>
                  《潛行》2024年最強卡司動作鉅獻！ <br>
                  男神影帝劉德華監製及演出，與彭于晏首次正面交鋒，影帝林家棟共同飆戲，<br>
                  上演警方、臥底及毒犯之間的三方角力戰，過程懸疑緊湊、極具張力。 
                </p>
              </div>
              <div style="display:flex;flex-direction: row;" class="border-bottom mx-3 mb-2">
                <span class="material-symbols-outlined fs-6 " style="color: darkblue;">
                  thumb_up
                  </span>
                  <p class="text-black-50 fs-7 text-start ms-2">30</p>
              </div>
              <div style="display:flex;flex-direction: row;" class="justify-content-around mx-3">
                <div style="display:flex;flex-direction: row;">
                  <span class="material-symbols-outlined fs-5 ">
                    thumb_up
                  </span>
                  <p class="text-black-50 fs-6 text-start ms-2">讚</p>
                </div>
                <div style="display:flex;flex-direction: row;">
                  <span class="material-symbols-outlined fs-5 ">
                      mode_comment
                      </span>
                    </span>
                    <p class="text-black-50 fs-6 text-start ms-2">留言</p>
                </div>
                <div style="display:flex;flex-direction: row;">
                  <span class="material-symbols-outlined fs-5 ">
                      send
                      </span>
                    </span>
                    <p class="text-black-50 fs-6 text-start ms-2">分享</p>
                </div>
              </div>
            </div>
            <!--評論五結束-->
            <div class="px-4 px-lg-5 h-100">
              <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
            >
                <div  class="col-lg-8 align-self-baseline text-start">
                    <div class="mb-6">
                      <!-- <p>1分-非常不熟 7分-非常熟識</p> -->
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="MotExt5">1. 此篇評論的撰寫者寫這篇評論的目的是為了獲得店家給的獎勵</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不同意</th>
                            <th style="width: 11%; text-align: center;">很不同意</th>
                            <th style="width: 11%; text-align: center;">不同意</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">同意</th>
                            <th style="width: 11%; text-align: center;">很同意</th>
                            <th style="width: 11%; text-align: center;">非常同意</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt5" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt5" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt5" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt5" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt5" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt5" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="MotExt5" value="7" required>&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="MotInt5">2. 此篇評論的撰寫者寫這篇評論的目的是他發自內心想要分享</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不同意</th>
                            <th style="width: 11%; text-align: center;">很不同意</th>
                            <th style="width: 11%; text-align: center;">不同意</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">同意</th>
                            <th style="width: 11%; text-align: center;">很同意</th>
                            <th style="width: 11%; text-align: center;">非常同意</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt5" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt5" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt5" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt5" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt5" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt5" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="MotInt5" value="7" required>&nbsp;7</td>
                        </tr>
                      </table class="mb-4">
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="Tran5">3. 此篇評論的撰寫者有清楚的告訴你他為什麼要寫這篇評論</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不同意</th>
                            <th style="width: 11%; text-align: center;">很不同意</th>
                            <th style="width: 11%; text-align: center;">不同意</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">同意</th>
                            <th style="width: 11%; text-align: center;">很同意</th>
                            <th style="width: 11%; text-align: center;">非常同意</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran5" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran5" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran5" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran5" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran5" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran5" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="Tran5" value="7" required>&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="Qua5">4. 請問您認為此篇評論的品質為何？</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                      
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">&emsp;非常不好</th>
                            <th style="width: 11%; text-align: center;">&emsp;很不好</th>
                            <th style="width: 11%; text-align: center;">&emsp;不好</th>
                            <th style="width: 11%; text-align: center;">&emsp;普通</th>
                            <th style="width: 11%; text-align: center;">&emsp;好</th>
                            <th style="width: 11%; text-align: center;">&emsp;很好</th>
                            <th style="width: 11%; text-align: center;">&emsp;非常好</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua5" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua5" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua5" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua5" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua5" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua5" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="Qua5" value="7" required>&nbsp;7</td>
                        </tr>
                      </table>
                      <br>
                      <div style="display:flex;flex-direction: row;">
                        <label class="fs-5 mb-2" for="Cre5">5. 請問您認為此篇評論的撰寫者有多值得信賴？</label>
                        <p style="color: brown;">*</p><br>
                      </div>
                     
                      <table class="mb-4">
                        <tr>
                            <th style="width: 23%;" ></th>
                            <th style="width: 11%; text-align: center;">非常不值得</th>
                            <th style="width: 11%; text-align: center;">很不值得</th>
                            <th style="width: 11%; text-align: center;">不值得</th>
                            <th style="width: 11%; text-align: center;">普通</th>
                            <th style="width: 11%; text-align: center;">值得</th>
                            <th style="width: 11%; text-align: center;">很值得</th>
                            <th style="width: 11%; text-align: center;">非常值得</th>
                        </tr>
                        <tr>
                            <td>您的回答&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre5" value="1" required>&nbsp;1</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre5" value="2" required>&nbsp;2</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre5" value="3" required>&nbsp;3</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre5" value="4" required>&nbsp;4</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre5" value="5" required>&nbsp;5</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre5" value="6" required>&nbsp;6</td>
                            <td style=" text-align: center;"><input type="radio" name="Cre5" value="7" required>&nbsp;7</td>
                        </tr>
                      </table>
                    </div>
                </div>
              </div>
            </div>
          </div> 
        <!-- 總結問題 -->    
        </div >
        <div class="px-4 px-lg-5 h-auto">
          <hr class="divider" />
          <div class="px-lg-4 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
          >
              <div  class="col-lg-8 align-self-baseline text-start">
          
          <div style="display:flex;flex-direction: row;">
            <label class="fs-5 mb-4">看完這<u>五則評論</u>後，我認為我在社群媒體上的朋友所提供的這五則評論：</label>
                  <p style="color: brown;">*</p><br>
                </div>
          
          <table class="mb-4">
            <tr>
                <th style="height: 3rem; width: 25%;" ></th>
                <th style="width: 11%; text-align: center;">非常不同意</th>
                <th style="width: 11%; text-align: center;">很不同意</th>
                <th style="width: 11%; text-align: center;">不同意</th>
                <th style="width: 10%; text-align: center;">普通</th>
                <th style="width: 10%; text-align: center;">同意</th>
                <th style="width: 11%; text-align: center;">很同意</th>
                <th style="width: 11%; text-align: center;">非常同意</th>
            </tr>
            <tr>
                <td style="height: 3rem;">是清楚的</td>
                <td style=" text-align: center;"><input type="radio" name="Quality1" value="1" required>&nbsp;1</td>
                <td style=" text-align: center;"><input type="radio" name="Quality1" value="2" required>&nbsp;2</td>
                <td style=" text-align: center;"><input type="radio" name="Quality1" value="3" required>&nbsp;3</td>
                <td style=" text-align: center;"><input type="radio" name="Quality1" value="4" required>&nbsp;4</td>
                <td style=" text-align: center;"><input type="radio" name="Quality1" value="5" required>&nbsp;5</td>
                <td style=" text-align: center;"><input type="radio" name="Quality1" value="6" required>&nbsp;6</td>
                <td style=" text-align: center;"><input type="radio" name="Quality1" value="7" required>&nbsp;7</td>
            </tr>
            <tr>
              <td style="height: 3rem;">是容易理解的</td>
              <td style=" text-align: center;"><input type="radio" name="Quality2" value="1" required>&nbsp;1</td>
              <td style=" text-align: center;"><input type="radio" name="Quality2" value="2" required>&nbsp;2</td>
              <td style=" text-align: center;"><input type="radio" name="Quality2" value="3" required>&nbsp;3</td>
              <td style=" text-align: center;"><input type="radio" name="Quality2" value="4" required>&nbsp;4</td>
              <td style=" text-align: center;"><input type="radio" name="Quality2" value="5" required>&nbsp;5</td>
              <td style=" text-align: center;"><input type="radio" name="Quality2" value="6" required>&nbsp;6</td>
              <td style=" text-align: center;"><input type="radio" name="Quality2" value="7" required>&nbsp;7</td>
            </tr>
            <tr>
              <td style="height: 3rem;">是有幫助的</td>
              <td style=" text-align: center;"><input type="radio" name="Quality3" value="1" required>&nbsp;1</td>
                <td style=" text-align: center;"><input type="radio" name="Quality3" value="2" required>&nbsp;2</td>
                <td style=" text-align: center;"><input type="radio" name="Quality3" value="3" required>&nbsp;3</td>
                <td style=" text-align: center;"><input type="radio" name="Quality3" value="4" required>&nbsp;4</td>
                <td style=" text-align: center;"><input type="radio" name="Quality3" value="5" required>&nbsp;5</td>
                <td style=" text-align: center;"><input type="radio" name="Quality3" value="6" required>&nbsp;6</td>
                <td style=" text-align: center;"><input type="radio" name="Quality3" value="7" required>&nbsp;7</td>
            </tr>
            <tr>
              <td style="height: 3rem;">有足夠的理由支持他們的觀點</td>
              <td style=" text-align: center;"><input type="radio" name="Quality4" value="1" required>&nbsp;1</td>
                <td style=" text-align: center;"><input type="radio" name="Quality4" value="2" required>&nbsp;2</td>
                <td style=" text-align: center;"><input type="radio" name="Quality4" value="3" required>&nbsp;3</td>
                <td style=" text-align: center;"><input type="radio" name="Quality4" value="4" required>&nbsp;4</td>
                <td style=" text-align: center;"><input type="radio" name="Quality4" value="5" required>&nbsp;5</td>
                <td style=" text-align: center;"><input type="radio" name="Quality4" value="6" required>&nbsp;6</td>
                <td style=" text-align: center;"><input type="radio" name="Quality4" value="7" required>&nbsp;7</td>
            </tr>
            <tr>
              <td style="height: 3rem;">都是高品質的</td>
              <td style=" text-align: center;"><input type="radio" name="Quality5" value="1" required>&nbsp;1</td>
                <td style=" text-align: center;"><input type="radio" name="Quality5" value="2" required>&nbsp;2</td>
                <td style=" text-align: center;"><input type="radio" name="Quality5" value="3" required>&nbsp;3</td>
                <td style=" text-align: center;"><input type="radio" name="Quality5" value="4" required>&nbsp;4</td>
                <td style=" text-align: center;"><input type="radio" name="Quality5" value="5" required>&nbsp;5</td>
                <td style=" text-align: center;"><input type="radio" name="Quality5" value="6" required>&nbsp;6</td>
                <td style=" text-align: center;"><input type="radio" name="Quality5" value="7" required>&nbsp;7</td>
            </tr>
          </table>
          <hr class="divider" />
          <div style="display:flex;flex-direction: row;">
            <label class="fs-5 mb-4">整體上，看完朋友寫的這些評論後，我認為<u>這些朋友</u>是：</label><br>
                  <p style="color: brown;">*</p><br>
                </div>
          
          <table class="mb-4">
            <tr>
                <th style="height: 3rem; width: 25%;" ></th>
                <th style="width: 11%; text-align: center;">非常不同意</th>
                <th style="width: 11%; text-align: center;">很不同意</th>
                <th style="width: 11%; text-align: center;">不同意</th>
                <th style="width: 10%; text-align: center;">普通</th>
                <th style="width: 10%; text-align: center;">同意</th>
                <th style="width: 11%; text-align: center;">很同意</th>
                <th style="width: 11%; text-align: center;">非常同意</th>
            </tr>
            <tr>
                <td style="height: 3rem;">能提供有用資訊的&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                <td style=" text-align: center;"><input type="radio" name="Credibility1" value="1" required>&nbsp;1</td>
                <td style=" text-align: center;"><input type="radio" name="Credibility1" value="2" required>&nbsp;2</td>
                <td style=" text-align: center;"><input type="radio" name="Credibility1" value="3" required>&nbsp;3</td>
                <td style=" text-align: center;"><input type="radio" name="Credibility1" value="4" required>&nbsp;4</td>
                <td style=" text-align: center;"><input type="radio" name="Credibility1" value="5" required>&nbsp;5</td>
                <td style=" text-align: center;"><input type="radio" name="Credibility1" value="6" required>&nbsp;6</td>
                <td style=" text-align: center;"><input type="radio" name="Credibility1" value="7" required>&nbsp;7</td>
            </tr>
            <tr>
              <td style="height: 3rem;">可信的</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility2" value="1" required>&nbsp;1</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility2" value="2" required>&nbsp;2</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility2" value="3" required>&nbsp;3</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility2" value="4" required>&nbsp;4</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility2" value="5" required>&nbsp;5</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility2" value="6" required>&nbsp;6</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility2" value="7" required>&nbsp;7</td>
            </tr>
            <tr>
              <td style="height: 3rem;">可靠的</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility3" value="1" required>&nbsp;1</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility3" value="2" required>&nbsp;2</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility3" value="3" required>&nbsp;3</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility3" value="4" required>&nbsp;4</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility3" value="5" required>&nbsp;5</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility3" value="6" required>&nbsp;6</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility3" value="7" required>&nbsp;7</td>
            </tr>
            <tr>
              <td style="height: 3rem;">有趣的</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility4" value="1" required>&nbsp;1</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility4" value="2" required>&nbsp;2</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility4" value="3" required>&nbsp;3</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility4" value="4" required>&nbsp;4</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility4" value="5" required>&nbsp;5</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility4" value="6" required>&nbsp;6</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility4" value="7" required>&nbsp;7</td>
            </tr>
            <tr>
              <td style="height: 3rem;">正確的</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility5" value="1" required>&nbsp;1</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility5" value="2" required>&nbsp;2</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility5" value="3" required>&nbsp;3</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility5" value="4" required>&nbsp;4</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility5" value="5" required>&nbsp;5</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility5" value="6" required>&nbsp;6</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility5" value="7" required>&nbsp;7</td>
            </tr>
            <tr>
              <td style="height: 3rem;">值得信賴的</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility6" value="1" required>&nbsp;1</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility6" value="2" required>&nbsp;2</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility6" value="3" required>&nbsp;3</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility6" value="4" required>&nbsp;4</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility6" value="5" required>&nbsp;5</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility6" value="6" required>&nbsp;6</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility6" value="7" required>&nbsp;7</td>
            </tr>
            <tr>
              <td style="height: 3rem;">聲譽良好的</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility7" value="1" required>&nbsp;1</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility7" value="2" required>&nbsp;2</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility7" value="3" required>&nbsp;3</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility7" value="4" required>&nbsp;4</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility7" value="5" required>&nbsp;5</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility7" value="6" required>&nbsp;6</td>
              <td style=" text-align: center;"><input type="radio" name="Credibility7" value="7" required>&nbsp;7</td>
            </tr>
          </table>
          
          </div>
        </div>
          </div>
        </div>
        <div style="height: 5rem;">
          <br>
        </div>
        <div class="px-4 px-lg-5 h-25 text-center mb-5">
          <div >
            <button class="btn btn-secondary btn-sm" type="submit" 
                      >下一頁</button
                    >
          </div>
        </div>
        <div>
          <br>
        </div>
      </form>
</section>


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="../js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
